.card {
  width: fit-content;
  max-width: 300px; 
  height: max-content;
  border-radius: 10px;
  background-color: #112949;
  padding: 20px;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-title {
  color: #3cc3f2;
}

.card-desc {
  color: #ffffff;
  margin-top: 10px;
  font-size: 20px;
}
